{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" >
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    <title>SNMP</title>
</head>
<body>
    {% include 'components/header.html'%}
    <div>
        <p id="app">{{ text }}drrewrwewerwerw</p>
        <canvas id="myChart" width="400" height="200"></canvas>
    </div>
    <div>
        <canvas id="myChart1" width="400" height="200"></canvas>
    </div>
</body>
<script src='https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.js'
></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static 'main.js' %}"></script>
</html>
